.button{
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
padding:10px 20px 10px 20px;
border-radius: 5px;
font-size: 15px;
}
.button-red{
    color:white;
    background: red;
}